header {
  box-shadow: 0 3px 6px rgba($color: #000, $alpha: 0.16);
  text-align: center;
  padding: 21px 18px;
  color: #555;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  display: flex;

  .icon {
    margin-right: 24px;
    cursor: pointer;
  }

  .title {
    font-weight: bold;
  }
}
