.button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  transition: 0.25s;

  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: 0 0 6px rgba(0, 0, 0, .16);
  }
}
