.container {
  position: relative;
  height: 100vh;
  margin: 0;
  background: #333 url('../assets/tokyo.jpg') no-repeat center center / cover;
  text-align: center;
}
.inner {
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.errorCode {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
}

.message {
  margin-top: 4px;
  line-height: 1.5;
  opacity: 0.75;
}
.button {
  padding: 12px 24px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid white;
  cursor: default;
  text-align: center;
  margin-top: 16px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.button:focus {
  outline: none;
}

@media (min-width: 800px) {
  .errorCode {
    font-size: 2rem;
  }
  .button {
    margin-top: 24px;
  }
}
