.link {
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
  line-height: 24px;
}
.link:active {
  outline: none;
}
.footer {
  color: #fff;
  position: absolute;
  bottom: 24px;
  opacity: 0.5;
  left: 0;
  right: 0;
  text-align: center;
}
.link a {
  color: #fff;
}
.link img {
  height: 1.5rem;
}
.link:active {
  outline: none;
}
.marginBottom {
  margin-bottom: 8px;
}
