.ribbon {
  position: fixed;
  top: 0;
  z-index: 9999;
  left: 32px;
  background: #fff;
  padding: 24px;
  border-bottom: 8px solid #03a9f4;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}
.logo {
  width: 48px;
}
.link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
}
.link:active {
  outline: none;
}
