.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  padding: 0 21px;
  height: 64px;
}

.headerTitle {
  font-size: 1.2rem;
  color: #fff;
}

.closeIcon {
  cursor: pointer;
  color: #fff;
}

.backIcon {
  margin-right: 21px;
  cursor: pointer;
  color: #fff;
}

.lines {
  max-height: calc(100vh - 64px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.lines::-webkit-scrollbar {
  display: none;
}

.padding {
  padding: 21px;
}

.link {
  color: black;
  text-decoration: none;
}
