.container {
  position: relative;
  height: 100vh;
  margin: 0;
  background: #333;
  text-align: center;
}
.inner {
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 32px;
}
.text {
  margin-top: 32px;
  opacity: 0.75;
  line-height: 1.5;
}
