.container {
  position: relative;
  height: 100vh;
  margin: 0;
  background-color: #333;
  text-align: center;
}
.inner {
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.name {
  font-size: 2.5rem;
}
.address {
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 1px;
  opacity: 0.75;
  margin-top: 8px;
}
.poorAccuracy {
  font-weight: normal;
  font-size: 0.75rem;
  letter-spacing: 1px;
  opacity: 0.75;
  margin-top: 24px;
  line-height: 1.5;
  white-space: pre-wrap;
}
.tips {
  margin-top: 12px;
  font-weight: normal;
  opacity: 0.75;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5;
}

.buttons {
  display: flex;
}

.button {
  padding: 12px 24px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid white;
  cursor: default;
  text-align: center;
  margin: 32px 8px 0 8px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  appearance: none;
}
.button:focus {
  outline: none;
}
